<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="/adminlte/dist/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="fas fa-tachometer-alt"></i>
            <p>Dasboard</p>
          </a>
        </li>
        <li class="nav-header">Master</li>
        <li class="nav-item">
          <a href="/genre" class="nav-link">
            <i class="fas fa-theater-masks"></i>
            <p>Genre</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/venue" class="nav-link">
            <i class="fas fa-map-marked-alt"></i>
            <p>Venue</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/nominal" class="nav-link">
            <i class="fas fa-tag"></i>
            <p>Nominal</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/film" class="nav-link">
            <i class="fas fa-film"></i>
            <p>Film</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/ticket" class="nav-link">
            <i class="fas fa-ticket-alt"></i>
            <p>Ticket</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link">
            <i class="fas fa-user-alt"></i>
            <p>User</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
